<!DOCTYPE html>
  <head>
    <title>Reports</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Admin Tasks</h1>
      <h2>Standard</h2>
      <form action="update_standard" method="POST">
        <input type="text" name="oid" value="{{standard_id}}" hidden />
        <table>
        <tr>
          <td>Standard:</td>
          <td><textarea cols="100" rows="50"  name="standard">{{standards}}</textarea></td>
        </tr>
        <tr>
          <td>Supplementry Pipeline:</td>
          <td><textarea cols="100" rows="50" id="supplementry_pipeline" name="supplementry_pipeline">{{supplementry_pipeline}}</textarea></td>
        </tr>
        <tr>
          <td rowspan="2"><input type="submit"></td>
        </tr>
      </table>
    </form>
    </br>
    <h2>Waivers</h2>
    <form action="/deployment_waivers">
      <table>
      <tr>
        <td>
          <select name=deployment>
              {% for deployment in deployments %}
              <option value="{{deployment}}">{{deployment}}</option>
              {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
      </table>
    </form>
      <br>
  </body>
</html>