<!DOCTYPE html>
  <head>
    <title>Reports</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/pikaday.css">
  </head>
  <body>
    <h1>Waiver Details</h1>
      <h2>{{deployment}}</h2>
      <form action="update_waiver/{{waiver_id}}">
      <table>
        <tr>
          <td>Authentication:</td>
          <td>
            <ul>
              <li>GSSAPI <input type="checkbox" name="GSSAPI" ></li>
              <li>SCRAM-SHA-1 <input type="checkbox" name="SCRAM-SHA-1" ></li>
              <li>SCRAM-SHA-256 <input type="checkbox" name="SCRAM-SHA-256" ></li>
              <li>LDAP <input type="checkbox" name="LDAP" ></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Waiver Approval Number:</td>
          <td><input type="text" maxwidth=20 name="waiver_details"></td>
        </tr>
        <tr>
          <td>Waiver Start Date:</td>
          <td><input type="text" id="start"></td>
        </tr>
        <tr>
          <td>Waiver End Date:</td>
          <td><input type="text" id="end"></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
      <br>
      <script src="../pikaday.js"></script>
      <script>
      var startDate,
          endDate,
          updateStartDate = function() {
              startPicker.setStartRange(startDate);
              endPicker.setStartRange(startDate);
              endPicker.setMinDate(startDate);
          },
          updateEndDate = function() {
              startPicker.setEndRange(endDate);
              startPicker.setMaxDate(endDate);
              endPicker.setEndRange(endDate);
          },
          startPicker = new Pikaday({
              field: document.getElementById('start'),
              minDate: new Date(),
              maxDate: new Date(2020, 12, 31),
              onSelect: function() {
                  startDate = this.getDate();
                  updateStartDate();
              }
          }),
          endPicker = new Pikaday({
              field: document.getElementById('end'),
              minDate: new Date(),
              maxDate: new Date(2020, 12, 31),
              onSelect: function() {
                  endDate = this.getDate();
                  updateEndDate();
              }
          }),
          _startDate = startPicker.getDate(),
          _endDate = endPicker.getDate();
          if (_startDate) {
              startDate = _startDate;
              updateStartDate();
          }
          if (_endDate) {
              endDate = _endDate;
              updateEndDate();
          }
      </script>
  </body>
</html>