<!DOCTYPE html>
  <head>
    <title>Reports</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Admin Tasks</h1>
      <h2>Standard</h2>
      <form action="update_standard">
      <table>
        <tr>
          <td><textarea rows="100" cols="20" name="standard">{{standards}}</textarea></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
        </tr>
      </table>
    </form>
    </br>
    <h2>Waivers</h2>
    <form action="/deployment_waivers.html">
      <table>
      <tr>
        <td>
          <select name=deployment>
              {% for deployment in deployments %}
              <option value="{{deployment}}">{{deployment}}</option>
              {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
      </table>
    </form>
      <br>
  </body>
</html>