<!DOCTYPE html>
  <head>
    <title>Reports</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>ISCC Report for {{deployment}}</h1>
      <p>{{title}}</p>
      <table>
        <th>Timestamp</th>
        <th>Issue Reoccurence</th>
        <th>Issue Start Date</th>
        <th>Items Out of Compliance</th>
        <th>Items with Waivers</th>
        <th>Hosts</th>
      {% for event in events %}
      <tr>
        <td><a href="./deployment_event_details/{{event['_id']}}" target="_blank"><script>document.write(new Date("{{event['ts']}}"));</script></a></td>
        <td>{{event['uncompliance_count']}}</td>
        <td>{{event['start_datetime']}}</td>
        <td id="evil">
            <table>
          {% for i in event['out_of_spec'] %}
            <th>{{i['host']}}</th>
            <tr>
            <td>
            {% for j in i['issue'] %}
              <ul>
                <li>{{j}}</li>
              </ul>
            {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </table>
        </td>
        <td>
            <table>
          {% for i in event['out_of_spec'] %}
          <th>{{i['host']}}</th>
          <tr>
          <td>
            {% for j in i['waiver'] %}
              <ul>
                <li>{{j}}</li>
              </ul>
            {% endfor %}
          </td>
        </tr>
          {% endfor %}
        </table>
        </td>
        <td><pre>{{event['hosts']}}</pre></td>
      </tr>
      {% endfor %}
      </table>
      <br>
  </body>
</html>