<!DOCTYPE html>
  <head>
    <title>Reports</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/pikaday.css">
    <script type="text/javascript">
      function stoppedTyping(){
          if(document.getElementById('comments').value.length > 0) { 
              document.getElementById('submitter').disabled = false; 
          } else { 
              document.getElementById('submitter').disabled = true;
          }
      }
        function setUTCStart() {
          document.getElementById('start').value = new Date(document.getElementById('start_date').value).toUTCString();
        };  
        function setUTCEnd() {
          document.getElementById('end').value = new Date(document.getElementById('end_date').value).toUTCString();
        };  
  </script>
  </head>
  <body>
    <h1>Waiver Details</h1>
      <h2>{{deployment}}</h2>
      <form action="update_waiver/{{deployment}}">
      <table>
        <tr>
          <td>Last Changed:</td>
          <td>{{details['last_changed']}}</td>
        </tr>
        <tr>
          <td>Authentication:</td>
          <td>
            <ul>
              <li>GSSAPI <input type="checkbox" name="GSSAPI" {{details['gssapi_checked']}}></li>
              <li>SCRAM-SHA-1 <input type="checkbox" name="SCRAM-SHA-1" {{details['scram_sha_1_checked']}}></li>
              <li>SCRAM-SHA-256 <input type="checkbox" name="SCRAM-SHA-256" {{details['scram_sha_256_checked']}}></li>
              <li>LDAP <input type="checkbox" name="LDAP" {{details['ldap_checked']}}></li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>MongoDB Version:</td>
          <td><input type="text" id="version" name="version" value="{{details['version']}}" /></td>
        </tr>
        <tr>
          <td>Waiver Approval Number:</td>
          <td><input type="text" maxwidth=20 id="comments" name="comments" onkeyup="stoppedTyping()" value="{{details['comments']}}" /></td>
        </tr>
        <tr>
          <td>Waiver Start Date:</td>
          <td><input type="text" id="start_date" name="start_date" value="" onchange="setUTCStart()" /> UTC: <input type="text" id="start" name="start" value="{{details['start']}}" readonly /></td>
        </tr>
        <tr>
          <td>Waiver End Date:</td>
          <td><input type="text" id="end_date" name="end_date" value="" onchange="setUTCEnd()" /> UTC: <input type="text" id="end" name="end" value="{{details['end']}}" readonly /></td>
        </tr>
        <tr>
          <td rowspan="2"><input type="submit" id="submitter" disabled/></td>
        </tr>
      </table>
    </form>
      <br>
      <script src="static/pikaday.js"></script>
      <script>
      var startDate,
          endDate,
          updateStartDate = function() {
              startPicker.setStartRange(startDate);
              endPicker.setStartRange(startDate);
              endPicker.setMinDate(startDate);
          },
          updateEndDate = function() {
              startPicker.setEndRange(endDate);
              startPicker.setMaxDate(endDate);
              endPicker.setEndRange(endDate);
          },
          startPicker = new Pikaday({
              field: document.getElementById('start_date'),
              onSelect: function() {
                  startDate = this.getDate();
                  updateStartDate();
              }
          }),
          endPicker = new Pikaday({
              field: document.getElementById('end_date'),
              minDate: new Date(),
              onSelect: function() {
                  endDate = this.getDate();
                  updateEndDate();
              }
          }),
          _startDate = startPicker.getDate(),
          _endDate = endPicker.getDate();
          if (_startDate) {
              startDate = _startDate;
              updateStartDate();
          }
          if (_endDate) {
              endDate = _endDate;
              updateEndDate();
          }
      </script>
  </body>
</html>